<h2 class="page-header">Dashboard</h2>
<form (submit)="getTimeline()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="screenname" name="screenname" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>

<!-- Need to figure out how to get this js script working with angular -->
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" *ngFor = 'let tweet of tweets'>{{tweet.tweet}}</blockquote>


<!-- <div>
	<ul>
		<li *ngFor = 'let tweet of tweets'>{{tweet.tweet}}</li>
	</ul>
</div> -->