<div class="jumbotron text-center">
  <h1>OneApp</h1>
  <p class="lead">Welcome to the leading all in one social media app!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3>Twitter Integration</h3>
    <p>Read your Twitter timeline twitUser!!</p>
  </div>
  <div class="col-md-4">
    <h3>Facebook Integration</h3>
    <p>Read your Facebook feed!</p>
  </div>
  <div class="col-md-4">
    <h3>All in One</h3>
    <p>See all your favorite social media updates on one website! </p>
  </div>
</div>
